{#
/**
 * @file
 * Default theme implementation for a smart content placeholder with attributes.
 *
 * Available variables:
 * - content: The content being wrapped with RDF attributes.
 * - attributes: HTML attributes, including RDF attributes for wrapper element.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div {{ content_attributes }}>
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>
